<div>

  <ul class="metismenu" id="menu">
    <li class="active">
      <a href="#" aria-expanded="true">Menu 1 (start as expanded)</a>
      <ul aria-expanded="true">
        <li><a href="#" aria-expanded="false">Submenu11</a></li>
        <li><a href="#" aria-expanded="false">Submenu12</a></li>
        <li><a href="#" aria-expanded="false">Submenu13</a></li>
      </ul>
    </li>
    <li *ngFor="let val of values">
      <a href="#" aria-expanded="false">Menu {{val.val}} (start as collapsed)</a>
      <ul aria-expanded="false">
        <li *ngFor="let child of val.arr">
          <a href="#" aria-expanded="false">Submenu{{val.val}}{{child}}</a>
        </li>
      </ul>
    </li>
  </ul>

</div>
